{% load i18n %}
{% load core_tags %}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title user-select-none"><i class="fa fa-right-to-bracket me-2"></i>Add new {{model_name|upper}}</h5>
        <button type="button" tabindex=-1 class="btn-close btn-close_create" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h6 class="text-center user-select-none text-primary fw-bold mb-4">Fill in to add new {{page_title|title}}</h6>
        {% if not request.htmx_closemodal %}
            <form class="needs-validation form-create row g-2">
                {% csrf_token %}
                {% form_float_cbleft form show_file_label=True %}
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-reset me-auto" type="reset" value="Reset" disabled 
                        title="Reset" tabindex=-1><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-danger" title="Cancel" data-bs-dismiss="modal">
                        <i class="fa fa-rotate-left" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-primary btn-submit" title="Save" disabled
                        hx-swap="innerHTML"
                        hx-post="{{add_single_url}}"
                        hx-target="#AddModalContent">
                        <i class="fa fa-floppy-disk" aria-hidden="true"></i></button>
                    </button>
                </div>
                <script type="text/javascript">
                    function lockCreateButton() {
                        const submitBtn = document.querySelector("form.form-create>div.modal-footer button.btn-submit");
                        const resetBtn = document.querySelector("form.form-create>div.modal-footer input.btn-reset");
                        const inputs = document.querySelectorAll("form.form-create input,form.form-create textarea,form.form-create select");
                        inputs.forEach(i => {
                            i.onchange = function() {
                                submitBtn.removeAttribute("disabled")
                                resetBtn.removeAttribute("disabled")
                            }
                        });
                    }
                    lockCreateButton();
                </script>
            </form> 
        {% else %}
            {% include 'apps/_comps/show_toast.html' %}
        {% endif %}
    </div>
</div>