{% load core_filters %}
{% load humanize %}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title user-select-none"><i class="fa fa-trash me-2" aria-hidden="true"></i>Confirm journal deletion</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" data-bs-target="#modalConfirmation" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p class="my-1 fs-6 user-select-none">{{question}}</p>
        <div class="alert alert-danger alert-dismissible show fade shadow">
            <div>Please understand that data you deleted will never be recovered.</div>
            <button class="btn btn-close" data-bs-dismiss="alert"></button>
        </div>

        {% if more_info %}
            <a class="text-secondary fw-bold" type="button" href="#journalMoreInfo" data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="journalMoreInfo"> More Info</a>
            <div id="journalMoreInfo" class="collapse">
                Batch Number: <b>{{object.batch}}</b><br>
                {% if object.group|is_eq:"d" %}
                    Debited Account : <b>{{object.account}}</b><br>
                    Credited Account : <b>{{pair.account}}</b><br>
                {% else %}
                    Debited Account : <b>{{pair.account}}</b><br>
                    Credited Account : <b>{{object.account}}</b><br>
                {% endif %}
                Amount: <b>{{object.amount|intcomma}}</b>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer d-flex justify-content-around align-items-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" 
            data-bs-target="#modalConfirmation"><i class="fa fa-arrow-circle-left me-1" aria-hidden="true"></i>No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
            data-bs-target="#modalConfirmation"
            hx-target="#dataTableContent"
            hx-swap="innerHTML"
            hx-post="{{delete_url}}"
            ><i class="fa fa-trash me-1" aria-hidden="true"></i>Yes</button>
    </div>
</div>