{% load core_tags %}
{% load core_filters %}


{% if side_menu_group|is_eq:'reports' %}
    {% if reporting_period %}
        <span class="fs-5 fw-bold"> {{page_title|upper}} {% if account %} &nbsp;- {{account}}{% endif %}</span> 
            <cite class="ms-2">For period {{reporting_period.0}} to {{reporting_period.1}}</cite>
    {% else %}
        <span class="fs-5 fw-bold"> {{page_title|upper}}</span> <cite class="ms-2">For period ended {% now "DATE_FORMAT" %}</cite>
    {% endif %}
{% endif %}

<table id="{{model_name}}-table" class="table table-data table-hover">
    {{table_obj}}
    {% if cumulative_balance %}
        {{beginning_balance|json_script:'begbal'}}
        {{num_rows|json_script:'numrows'}}
        <script type="text/javascript">
            var appendBalance = function() {
                const tr = document.querySelectorAll("tbody tr");
                const numRows = document.querySelector('script#numrows').textContent;
                let beginningBalance = document.querySelector('script#begbal');
                if (beginningBalance !== null) {
                    beginningBalance = beginningBalance.textContent;
                }
                else {
                    beginningBalance = 0;
                }

                function removeComma(string) {
                    var newString = new String("");
                    for (let index = 0; index < string.length; index++) {
                        const val = string.charAt(index);
                        if (val == ",") { 
                            newString = newString.concat("");
                        }
                        else {
                            newString = newString.concat(val);
                        };
                    }
                    return newString;
                }

                function reverse(string) {
                    var newString = new String('');
                    for (let index = string.length; index > -1; index--) {
                        newString = newString.concat(string.charAt(index));
                    }
                    return newString;
                }

                function addComma(string) {
                    string = reverse(string);
                    var newString = new String('');
                    counter = 1;
                    for (let index = 0; index < string.length; index++) {
                        newString = newString.concat(string.charAt(index));
                        if ((counter == 3)&&((index+1)<string.length)) { 
                            newString = newString.concat(','); 
                            counter = 0;    //reset counter
                        }
                        counter++;
                    }
                    newString = reverse(newString);
                    return newString;
                }

                is_first_loop = true;
                if (numRows > 0) {
                    tr.forEach(e => {
                        var lc = e.lastChild;
                        if (!is_first_loop){
                            var prev_row = e.previousSibling;
                            var prev_amount = parseInt(removeComma(e.previousSibling.lastChild.innerHTML));
                            var n1 = parseInt(removeComma(lc.previousSibling.previousSibling.innerHTML));
                            var n2 = parseInt(removeComma(lc.previousSibling.innerHTML));
                            result = (prev_amount+n1-n2).toString() ;
                            lc.innerHTML = addComma(result);
                        }
                        else {
                            e.firstChild.innerHTML = e.nextSibling.firstChild.innerHTML;
                            e.firstChild.nextSibling.nextSibling.nextSibling.innerHTML = "Beginning balance";
                            result = beginningBalance;
                            lc.innerHTML = addComma(result);
                        }

                        if (is_first_loop) { is_first_loop=false }
                    });
                }
            }
            appendBalance();
        </script>
    {% endif %}
</table>

<footer id="{{model_name}}_paginator" class="paginator py-2 mt-3">
    {% htmx_paginator "div#dataTableContent" objects request %}
</footer>

{% with "div#dataTableContent" as htmx_target %}
    {% include 'apps/accounting/_comps/table_refresher.html' with ref_id='table-refresher' htmx_swap='innerHTML' %}
{% endwith %}


{% include 'apps/_partials/sidebar.html' with attrs="hx-swap-oob='true'" %}

{% comment %} <div id="sidebar_menu" hx-swap-oob="true" class="nav flex-column rounded user-select-none d-print-none">
    <h5 id="page_title" class="p-2 fw-700 text-end">{{page_title}}</h5>

    <div class="d-flex p-2 justify-content-end align-items-center gap-2 border border-2">
        <button class="btn btn-outline-primary px-2 py-1" 
            hx-swap="innerHTML"
            hx-target="div#dataTableContent"
            hx-get="{{request.path}}"
            title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        {% if add_single_url %}
            <button class="btn btn-outline-warning px-2 py-1" data-bs-toggle="modal" data-bs-target="#AddModal"
                hx-swap="innerHTML"
                hx-target="#AddModalContent"
                hx-get="{{add_single_url}}"
                title="Add single (not recommended, use 'add new' instead)" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
        {% endif %}
        <button class="btn btn-outline-primary px-2 py-1" data-bs-toggle="modal" data-bs-target="#AddModal"
            hx-swap="innerHTML"
            hx-target="#AddModalContent"
            hx-get="{{add_url}}"
            title="Add new" ><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

    <form class="d-flex p-0 my-2 my-lg-0">
        {% csrf_token %}
        <input class="form-control rounded-0 " type="search" 
            name="search_key" placeholder="Search" aria-label="Search"
            hx-post="{{search_url}}"
            hx-target="div#dataTableContent"
            hx-trigger="keyup changed delay:500ms"
            hx-swap="innerHTML"/>
        <button class="btn btn-outline-primary rounded-0 border-0 border-top 
            border-end border-bottom"
            hx-post="{{search_url}}"
            hx-target="div#dataTableContent"
            hx-swap="innerHTML">
            <i class="fa fa-magnifying-glass"></i></button>
    </form>

    {% for k in side_menu.items %}
        {% include 'apps/_comps/collapse_menu.html' with name=k.0 items=k.1 %}
    {% endfor %}

    <style>
        a.sidebar-collapse-btn>svg {
            transition: all .3s ease;
            transform: rotate(90deg);
        }
        a.sidebar-collapse-btn.collapsed>svg {
            transition: all .3s ease;
            transform: rotate(0deg);
        }
    </style>
</div> {% endcomment %}
