{% load core_tags %}
{% load core_filters %}


{% if side_menu_group|is_eq:'reports' %}
    {% if reporting_period %}
        <span class="fs-5 fw-bold"> {{page_title|upper}}</span> <cite class="ms-2">For period {{reporting_period.0}} to {{reporting_period.1}}</cite>
    {% else %}
        <span class="fs-5 fw-bold"> {{page_title|upper}}</span> <cite class="ms-2">For period ended {% now "DATE_FORMAT" %}</cite>
    {% endif %}
{% endif %}
<table id="{{model_name}}-table" class="table table-data table-hover">
    {{table_obj}}
</table>

<footer id="{{model_name}}_paginator" class="paginator py-2 mt-3">
    {% htmx_paginator "div#dataTableContent" objects request %}
</footer>

{% with "div#dataTableContent" as htmx_target %}
    {% include 'apps/accounting/_comps/table_refresher.html' with ref_id='data-refresher' htmx_swap='innerHTML' %}
{% endwith %}