{% load i18n %}
{% load core_tags %}


<div class="modal-content">
    <div class="modal-header py-1">
        <h5 class="modal-title user-select-none"><i class="fa fa-right-to-bracket me-2"></i>Update {{object|capfirst|truncatewords:4}}</h5>
        <button type="button" tabindex=-1 class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body py-1">
        <h6 class="text-center user-select-none text-primary fw-bold mb-2">Fill in to update {{page_title|title}}</h6>
        <form class="needs-validation form-update row g-2">
            {% csrf_token %}
            {% form_float_cbleft form show_file_label=True %}
            <div class="modal-footer">
                {% if object.get_delete_url %}
                    <button type="button" class="btn btn-danger me-auto" data-bs-toggle="modal" data-bs-target="div#DeleteModal" title="Delete this entry" tabindex=-1
                        hx-swap="innerHTML"
                        hx-get="{{object.get_delete_url}}"
                        hx-target="#DeleteModalContent">
                        <i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button class="btn btn-secondary btn-reset" type="reset" value="Reset" disabled 
                        title="Reset" tabindex=-1><i class="fa fa-refresh" aria-hidden="true"></i></button>
                {% else %}
                    <button class="btn btn-secondary btn-reset me-auto" type="reset" value="Reset" disabled 
                        title="Reset" tabindex=-1><i class="fa fa-refresh" aria-hidden="true"></i></button>
                {% endif %}
                <button type="button" class="btn btn-danger" title="Cancel" data-bs-dismiss="modal">
                    <i class="fa fa-rotate-left" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary btn-submit" title="Save" disabled
                    hx-swap="innerHTML"
                    hx-post="{{object.get_update_url}}"
                    hx-encoding="multipart/form-data"
                    hx-target="#UpdateModalContent">
                    <i class="fa fa-floppy-disk" aria-hidden="true"></i></button>
            </div>
            <script type="text/javascript">
                function lockUpdateButton() {
                    const submitBtn = document.querySelector("form.form-update>div.modal-footer button.btn-submit");
                    const resetBtn = document.querySelector("form.form-update>div.modal-footer button.btn-reset");
                    const inputs = document.querySelectorAll("form.form-update input,form.form-update textarea,form.form-update select");
                    inputs.forEach(i => {
                        i.onchange = function() {
                            submitBtn.removeAttribute("disabled");
                            resetBtn.removeAttribute("disabled");
                        }
                    });
                }
                lockUpdateButton();
            </script>
        </form> 
        {% if request.htmx_closemodal %}
            {% include 'apps/_comps/show_toast.html' %}
            {% include 'apps/_comps/close_modal.html' %}
        {% endif %}
    </div>
</div>
