{% load core_tags %}

<footer class="py-2 mt-5 border-top">
    <ul class="nav justify-content-center border-bottom pb-2 mb-1">
        <li class="nav-item"><a href="{% url 'cover:homepage' %}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">{% logo 1 32 'me-1' %}&copy {% now "Y" %} SimAcc, Inc</p>
</footer>
