<nav class="navbar">
    <div class="navbar-top">
        <div class="logo">Desinic</div>
        <button class="nav-close-btn" aria-label="Close Menu">
            <i class="fa fa-close" aria-hidden="true"></i>
        </button>
    </div>
    <ul class="navbar-list my-2">
        <li class="navbar-item">
            <a href="#home" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
            <a href="#about" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
            <a href="#services" class="navbar-link">Services</a>
        </li>
        <li class="navbar-item">
            <a href="#features" class="navbar-link">Features</a>
        </li>
        <li class="navbar-item">
            <a href="#blog" class="navbar-link">Blog</a>
        </li>
        <li class="navbar-item">
            <a href="#contactus" class="navbar-link">Contact Us</a>
        </li>
    </ul>
</nav>