<footer class="container-fluid py-5">
    <div class="row g-3 d-flex justify-content-center">
        <div class="col-md-3">
            <h5>Menu</h5>
            <ul class="d-flex d-md-block flex-column list-unstyled align-items-center">
                <li class="mb-2"><a href="#" class="p-0">Home</a></li>
                <li class="mb-2"><a href="#" class="p-0">About</a></li>
                <li class="mb-2"><a href="#" class="p-0">Services</a></li>
                <li class="mb-2"><a href="#" class="p-0">Features</a></li>
                <li class="mb-2"><a href="#" class="p-0">Blog</a></li>
                <li class="mb-2"><a href="#" class="p-0">Contact Us</a></li>
            </ul>
        </div>
        <hr class="d-block d-md-none">
        <div class="col-md-2">
            <h5>Other Links</h5>
            <ul class="d-flex d-md-block flex-column list-unstyled align-items-center">
                <li class="mb-2"><a href="#" class="p-0">FAQ</a></li>
                <li class="mb-2"><a href="#" class="p-0">Licenses</a></li>
                <li class="mb-2"><a href="#" class="p-0">Archive</a></li>
            </ul>
        </div>
        <hr class="d-block d-md-none">
        <ul id="contactus" class="col-md-3 d-flex d-md-block flex-column justify-content-top align-items-center">
            <h5>Contact Us</h5>
            <li>
                <i class="fa fa-phone fa-fw" aria-hidden="true"></i> +62 823-777-4527
            </li>
            <li>
                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> admin@email.com
            </li>
            <li>
                <i class="fa fa-location fa-fw" aria-hidden="true"></i> Jakarta, Indonesia
            </li>
            {% comment %} <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address" />
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </form> {% endcomment %}
        </ul>
    </div>

    <div class="container d-flex justify-content-between pt-4 mt-4 border-top">
        <p>© 2021 Desinic, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3">
                <a href="#"> <i class="fa-brands fa-fw fa-twitter" aria-hidden="true"></i> </a>
            </li>
            <li class="ms-3">
                <a href="#"> <i class="fa-brands fa-fw fa-instagram" aria-hidden="true"></i> </a>
            </li>
            <li class="ms-3">
                <a href="#"> <i class="fa-brands fa-fw fa-facebook" aria-hidden="true"></i> </a>
            </li>
        </ul>
    </div>
    <a href="#home" class="to-top">
        <i class="fa fa-chevron-up fa-fw" aria-hidden="true"></i>
    </a>
</footer>
