{% extends 'err_base.html' %}


{% block page_title %}403 Forbidden{% endblock page_title %}
{% block err_base_content %}
    <h3 class="text-danger">Forbidden (403 error)</h3>
    <div class="text-secondary text-center border-bottom">
        {% if reason %}
            Reason:
            <h5 class="border-bottom text-danger fw-bold mb-3 pb-2"> {{reason}} </h5>
        {% endif %}
        <h6 class="permission-info text-start text-small">
            {% if request.user.groups.all %}
                Your account ({{request.user|title}}) have the following permissions :
                <ul class="mt-3">
                    {% for g in request.user.groups.all %}
                        <li>{{g}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                Your account ({{request.user|title}}) is a regular account without any permissions<br>
            {% endif %}
            <hr>
            If you need any permissions, please contact system administrator.
        </h6>
    </div>
    <div class="pt-3">
        <a type="button" onclick="history.back()" class="btn btn-primary mt-3">
            <i class="fa fa-rotate-left me-1"></i>Go back</a>
    </div>
{% endblock err_base_content %}