{% extends 'err_base.html' %}


{% block page_title %}405 Not Allowed{% endblock page_title %}
{% block err_base_content %}
    <h1 class="text-danger">Not Allowed (405 error)</h1>
    <div class="text-secondary text-center border-bottom">
        <h5 class="border-bottom my-3 pb-2">
            You are not allowed<i class="fa fa-ban ms-2"></i>
        </h5>
        <h6 class="permission-info text-start">
            {% if request.user.groups.all %}
                Your account ({{request.user|title}}) have the following permissions :
                <ul class="mt-3">
                    {% for g in request.user.groups.all %}
                        <li>{{g}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <hr>
            Some action are not allowed, even if you have logged in and have a proper permission.
            For example, any user that already have a company are not allowed to recreate one.
            If you need any help or more information, please contact system administrator.
        </h6>
    </div>
    <div class="mt-3 d-flex flex-column align-items-center justify-content-center">
        <h6 class="text-secondary">Press <code>ALT+back</code> to go back</h6>
        <a type="button" href="/" class="btn btn-outline-danger opacity-75">
            <i class="fa fa-home me-1"></i>To Homepage</a>
    </div>
{% endblock err_base_content %}