{% extends 'apps/_shared/acc.html' %}

{% load core_tags %}
{% load core_filters %}


{% block page_title %}{{page_title}}{% endblock page_title %}

{% block acc_content %}

    {% include '_comps/_partials/mod_wrapper_lg.html' with static=1 modal_id=model_name|concat:"AddModal" modal_content_id=model_name|concat:"AddModalContent" %}
    {% include '_comps/_partials/mod_wrapper_lg.html' with static=1 modal_id=model_name|concat:"UpdateModal" modal_content_id=model_name|concat:"UpdateModalContent" %}
    {% include '_comps/toast_info.html' %}

    <div id="{{model_name}}Content">
        <table id="{{model_name}}-table" class="table table-data table-hover">
            {{table_obj}}
        </table>
        <footer class="paginator py-2 mt-3">
            {% with 'div#'|concat:model_name|concat:'Content' as target %}
                {% htmx_paginator target objects request %}
            {% endwith %}
        </footer>
        {% with "div#"|concat:model_name|concat:"Content" as htmx_target %}
            {% include 'apps/accounting/_comps/table_refresher.html' with ref_id='table-refresher' htmx_swap='innerHTML' %}
        {% endwith %}
    </div>
{% endblock acc_content %}
