{% extends 'apps/company/_layouts/sidebar.html' %}

{% load core_tags %}
{% load core_filters %}


{% block page_title %} {{user.profile.company}}'s employees {% endblock page_title %}

{% block side_menu %}
    {% include 'apps/company/_layouts/side_menu.html' %}
{% endblock side_menu %}

{% block sidebar_content %}
    {% include '_comps/_partials/mod_center_wrapper.html' with modal_id="modalConfirmation" modal_content_id="modalConfirmationContent" %}
    <div id="sidebarContent" class="my-2 pe-2 border p-4 rounded shadow">
        {% include 'apps/company/_partials/emp_list.html' %}
    </div>
{% endblock sidebar_content %}