{% extends '_shared/sidebar.html' %}

{% load humanize %}
{% load core_tags %}


{% block page_title %} {{object.name}} details{% endblock page_title %}

{% block side_menu %}
    <div class="flex-column rounded ps-1 py-2">
        <div type="button">
            <a class="dropdown-item fw-bold strecthed-link" 
                hx-get="{% url 'company:company_update' object.slug %}"
                hx-swap="innerHTML"
                hx-target="#sidebarContent"><i class="fa fa-building" aria-hidden="true"></i>Manage Company</a>
        </div>
        <div type="button">
            <a class="dropdown-item fw-bold" 
                hx-get="{% url 'company:company_emp_list' %}"
                hx-swap="innerHTML"
                hx-target="#sidebarContent"><i class="fa fa-users" aria-hidden="true"></i>Manage Employees</a>
        </div>
    </div>
{% endblock side_menu %}

{% block sidebar_content %}
    {% include '_comps/_partials/mod_center_wrapper.html' with modal_id="modalConfirmation" modal_content_id="modalConfirmationContent" %}
    <div id="sidebarContent" class="my-2 me-2 border p-4 rounded shadow">
        <h3 class="fw-bolder mb-0">{{object.name|title}}</h3>
        <small class="text-danger text-opacity-75">registered on: <strong>{{object.created|date:'j F, Y'}}</small></strong>&nbsp;&nbsp;
        <small class='text-danger text-opacity-75'>business type: <strong>{{object.business_type}}</strong></small>&nbsp;&nbsp;
        <small class='text-danger text-opacity-75'>legal type: <strong>{{object.get_legal_display}}</strong></small>&nbsp;&nbsp;
        <hr class='my-1'>
        <p class="my-2">{{object.desc}}</p>
        <span class='d-block'><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<strong>{{object.email}}</strong></span>
        <span class='d-block'><i class="fa fa-home" aria-hidden="true"></i>&nbsp;<strong>{{object.address|capfirst}}</strong></span>
        <span class='d-block'><i class="fa fa-building" aria-hidden="true"></i>&nbsp;<strong>{{object.city|title}}</strong></span>
        <span class='d-block'><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;<strong>{{object.number}}</strong></span>
        <span class='d-block'><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<strong>{{object.phone}}</strong></span>
        <span class='d-block'>Number of employees: <strong>{{object.get_employees.count}}</strong></span>
        <span class='d-block'>Pending employees: <strong>{{object.get_pending_employees.count}}</strong></span>
    </div>
{% endblock sidebar_content %}