{% extends '_shared/base.html' %}
{% load core_tags %}


{% block title_content %} Update Company {% endblock title_content %}

{% block base_content %}
    {% notification messages %}
    <div class="container">
        {% include '_comps/_partials/mod_center_wrapper.html' with modal_id="modalCompConfig" modal_content_id="modalCompConfigContent" %}
        <div class="py-1 d-flex flex-column justify-content-between align-items-center">
            <h4 class="mt-2">Edit your company</h4>
            <p>Hi <b class="text-danger">{{user|capfirst}}</b>, fill in to update your company</p>
            
            <div class="container alert alert-secondary alert-dismissible show fade shadow mb-4 company-config">
                <a class="d-block text-decoration-none text-danger" id="btnConfiguration" type="button" 
                    data-bs-toggle="modal" data-bs-target="#modalCompConfig" title="Modify configurations"
                    hx-get="{% url 'company:company_config' %}"
                    hx-swap="innerHTML"
                    hx-target="#modalCompConfigContent"
                    class="float-start btn btn-primary">
                    <i class="fa fa-gear me-1" aria-hidden="true"></i>Config</a>
                <div>
                    <code> {{object.config}} </code>
                </div>
                <button class="btn btn-close" data-bs-dismiss="alert"></button>
            </div>

            <form method="POST" action={{request.path}} class="row g-2">
                {% csrf_token %}
                {% form_float form 2 %}
                <div class="text-center mt-2 border-top pt-3">
                    <a type='button' onclick='history.back()' class='btn btn-secondary'>
                        <i class='fa fa-rotate-left me-1'></i>Go back</a>
                    <button id="btnProfileUpdate" type="submit" class="mx-2 btn btn-primary">
                        <i class="fa fa-save me-1" aria-hidden="true"></i>Update</button>
                    <button id="btnLockUnlock" onclick="lockUnlockInput()" type="button" class="btn btn-warning">
                        <i class="fa fa-unlock me-2"></i>Unlock</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function lockFormInput(){
            const btnLockUnlock = document.getElementById("btnLockUnlock");
            const inputs = document.querySelectorAll("input,textarea,select,#btnProfileUpdate");
            inputs.forEach(i => {
                i.setAttribute('disabled', null);
                btnLockUnlock.innerHTML="<i class='fa fa-unlock me-2'></i>Unlock"
            });
        }
        function lockUnlockInput(){
            const btnLockUnlock = document.getElementById("btnLockUnlock");
            const inputs = document.querySelectorAll("input,textarea,select,#btnProfileUpdate");
            inputs.forEach(i => {
                if (i.hasAttribute('disabled')){
                    i.removeAttribute('disabled');
                    btnLockUnlock.innerHTML="<i class='fa fa-lock me-2'></i>Lock"
                }
                else {
                    i.setAttribute('disabled', null);
                    btnLockUnlock.innerHTML="<i class='fa fa-unlock me-2'></i>Unlock"
                }
            });
        }
        lockFormInput() // call lockFormInput() to lock form by default
    </script>
{% endblock base_content %}