{% load core_tags %}

{% block sidebar_content %}
    <div class="container">
        {% include '_comps/_partials/mod_center_wrapper.html' with modal_id="modalCompConfig" modal_content_id="modalCompConfigContent" %}
        <div class="py-1 d-flex flex-column justify-content-between align-items-center">
            <h6 class="fw-bold">Hi <b class="text-danger">{{user|capfirst}}</b>, fill in to update your company</h6>
            
            <a class="d-block-inline me-auto text-decoration-none text-danger sidebar-collapse-btn collapsed" type="button" 
                data-bs-toggle="collapse" data-bs-target="#companyConfigCollapse" title="Show configurations">
                <i class="fa fa-angle-right me-1" aria-hidden="true"></i>Config</a>
            <div class="collapse border p-2 bg-danger bg-opacity-25 shadow" id="companyConfigCollapse">
                {{object.config}} 
                <a class="d-block me-auto text-decoration-none text-danger" id="btnConfiguration" type="button" 
                    data-bs-toggle="modal" data-bs-target="#modalCompConfig" title="Modify configurations"
                    hx-get="{% url 'company:company_config' %}"
                    hx-swap="innerHTML"
                    hx-target="#modalCompConfigContent">
                    <i class="fa fa-gear me-1" aria-hidden="true"></i>Edit Configurations</a>
            </div>

            <form method="POST" action={{request.path}} class="row g-2">
                {% csrf_token %}
                {% form_float form 2 %}
                <div class="text-center mt-2 border-top pt-3">
                    <button id="btnProfileUpdate" type="submit" class="mx-2 btn btn-primary">
                        <i class="fa fa-save me-1" aria-hidden="true"></i>Update</button>
                    <button id="btnLockUnlock" onclick="lockUnlockInput()" type="button" class="btn btn-warning">
                        <i class="fa fa-unlock me-2"></i>Unlock</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function lockFormInput(){
            const btnLockUnlock = document.getElementById("btnLockUnlock");
            const inputs = document.querySelectorAll("input,textarea,select,#btnProfileUpdate");
            inputs.forEach(i => {
                i.setAttribute('disabled', null);
                btnLockUnlock.innerHTML="<i class='fa fa-unlock me-2'></i>Unlock"
            });
        }
        function lockUnlockInput(){
            const btnLockUnlock = document.getElementById("btnLockUnlock");
            const inputs = document.querySelectorAll("input,textarea,select,#btnProfileUpdate");
            inputs.forEach(i => {
                if (i.hasAttribute('disabled')){
                    i.removeAttribute('disabled');
                    btnLockUnlock.innerHTML="<i class='fa fa-lock me-2'></i>Lock"
                }
                else {
                    i.setAttribute('disabled', null);
                    btnLockUnlock.innerHTML="<i class='fa fa-unlock me-2'></i>Unlock"
                }
            });
        }
        lockFormInput() // call lockFormInput() to lock form by default
    </script>
{% endblock sidebar_content %}