{% load core_tags %}


<div class="container">
    <div class="row g-2">
        <div class="col col-12 col-lg-6 text-center text-lg-start">
            <a type="button" class="text-decoration-none text-decoration-underline fs-5 fw-bold text-secondary">Pending</a>
            <a type="button" class="text-decoration-none text-decoration-underline fs-5 fw-bold text-secondary mx-2">Approved</a>
            <a type="button" class="text-decoration-none text-decoration-underline fs-5 fw-bold text-secondary" 
                hx-get="{% url 'company:company_emp_list' %}" hx-swap="innerHTML" hx-target="div#employeesList" >All</a>
        </div>
        <form class="col col-12 col-lg-6 d-flex">
            <input class="form-control rounded-0 " type="search" name="search_key" placeholder="Search employees" aria-label="Search" 
                hx-get="{% url 'company:company_emp_list' %}" hx-target="div#employeesList" hx-trigger="keyup changed delay:500ms" hx-swap="innerHTML">
            <button class="btn btn-outline-primary rounded-0 border-0 border-top border-end border-bottom" 
                hx-get="{% url 'company:company_emp_list' %}" 
                hx-include="input[name=search_key]"
                hx-target="div#employeesList" hx-swap="innerHTML"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
    <div id="employeesList" class="row">
        {% include 'apps/company/_partials/emp_list_search.html' %}
    </div>
</div>

{% if ajax_msg %}
    <div id="ajax-alert-info" hx-swap-oob="true" class="d-flex flex-column align-items-center justify-content-center 
             alert alert-warning alert-dismissible shadow show fade">
        {{ajax_msg}}
        <button class="btn btn-close" data-bs-dismiss="alert" data-bs-target="ajax-alert-info" type="button"></button>
    </div>
{% else %}
    <div id="ajax-alert-info" hx-swap-oob="true"></div>
{% endif %}