{% load core_filters %}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title user-select-none">Confirm {{mode|title}}</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" data-bs-target="#modalConfirmation" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p class="my-1 fs-6 user-select-none">{{question}}</p>
    </div>
    <div class="modal-footer d-flex no-wrap p-0">
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 border-end text-secondary" data-bs-dismiss="modal" 
            data-bs-target="#modalConfirmation"><i class="fa fa-x me-1" aria-hidden="true"></i>No</button>
        {% if mode|is_eq:'remove' %}
            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 text-danger" data-bs-dismiss="modal"
                data-bs-target="#modalConfirmation"
                hx-target="div#sidebarContent"
                hx-swap="innerHTML"
                hx-post="{% url 'company:company_emp_remove' target.profile.slug %}"
                ><i class="fa fa-check me-1" aria-hidden="true"></i>Yes</button>
        {% else %}
            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 text-danger" data-bs-dismiss="modal"
                data-bs-target="#modalConfirmation"
                hx-target="div#sidebarContent"
                hx-swap="innerHTML"
                hx-post="{% url 'company:company_emp_approve' target.profile.slug %}"
                ><i class="fa fa-check me-1" aria-hidden="true"></i>Yes</button>
        {% endif %}
    </div>
</div>
