{% load core_tags %}

{% for e in objects %}
    <div class="card col" style="min-width:200px">
        <div class="card-body text-center">
            <h5 class="card-title">{% iftf e.first_name e.first_name|title e.username|title %}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{e.email}}</h6>
            <img src="{{e.profile.image.url}}" class="img-thumbnail rounded" style="max-width:100px" alt="{{e}}">
            <p>Status: {{e.profile.comp_stat}}</p>
            {% if e.pk is user.profile.company.author.pk %}
                Creator
            {% else %}
                {% if user.profile.comp_level > 3 %}
                    {% if e.profile.comp_stat %}
                        <a class="card-link d-block text-decoration-none text-danger" type="button"
                            hx-get="{% url 'company:company_emp_remove' e.profile.slug %}"
                            hx-target="div#employeeList"
                            hx-swap="innerHTML"><i class="fa fa-remove me-2" aria-hidden="true"></i>Remove</a>
                    {% else %}
                        <a class="card-link d-block text-decoration-none text-success" type="button"
                            hx-get="{% url 'company:company_emp_approve' e.profile.slug %}"
                            hx-target="div#employeeList"
                            hx-swap="innerHTML"><i class="fa fa-check me-2" aria-hidden="true"></i>Approve</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}

{% if ajax_msg %}
    <div id="ajax-alert-info" hx-swap-oob="true" class="d-flex flex-column align-items-center justify-content-center 
             alert alert-warning alert-dismissible shadow show fade">
        {{ajax_msg}}
        <button class="btn btn-outline-secondary"
            hx-get="{% url 'company:company_emp_list' %}"
            hx-target="div#employeeList"
            hx-swap="innerHTML">Ok</button>   
    </div>
{% elif ajax_confirm_approval %}
    <div id="ajax-alert-info" hx-swap-oob="true" class="d-flex flex-column align-items-center justify-content-center 
        alert alert-warning alert-dismissible shadow show fade">
        {{ajax_confirm_approval}}
        <div>
            <button class="btn text-danger"
                hx-get="{% url 'company:company_emp_list' %}"
                hx-target="div#employeeList"
                hx-swap="innerHTML"><i class="fa fa-x me-2" aria-hidden="true"></i>No</button>   
            <button class="btn text-success" 
                hx-post="{% url 'company:company_emp_approve' target.profile.slug %}"
                hx-target="div#employeeList"
                hx-swap="innerHTML"><i class="fa fa-check me-2" aria-hidden="true"></i>Yes</button>   
        </div>
    </div>
{% elif ajax_confirm_removal %}
    <div id="ajax-alert-info" hx-swap-oob="true" class="d-flex flex-column align-items-center justify-content-center 
        alert alert-warning alert-dismissible shadow show fade">
        {{ajax_confirm_removal}}
        <div>
            <button class="btn text-danger"
                hx-get="{% url 'company:company_emp_list' %}"
                hx-target="div#employeeList"
                hx-swap="innerHTML"><i class="fa fa-x me-2" aria-hidden="true"></i>No</button>   
            <button class="btn text-success" 
                hx-post="{% url 'company:company_emp_remove' target.profile.slug %}"
                hx-target="div#employeeList"
                hx-swap="innerHTML"><i class="fa fa-check me-2" aria-hidden="true"></i>Yes</button>   
        </div>
    </div>
{% else %}
    <div id="ajax-alert-info" hx-swap-oob="true"></div>
{% endif %}