{% load core_tags %}

{% for e in objects %}
    <div class="col g-4">
        <div class="card shadow mx-auto" style="max-width:300px;">
            <div class="card-body text-center">
                <h5 class="card-title">{% iftf e.first_name e.first_name|title e.username|title %}</h5>
                <div class="my-2 d-flex flex-row align-items-center justify-content-around">
                    <h6><i class="fa fa-envelope me-2" aria-hidden="true"></i>{{e.email}}</h6>
                    {% if not e.profile.comp_stat %}
                        <h6>Status: {{e.profile.comp_stat}}</h6>
                    {% endif %}
                </div>
                <img src="{{e.profile.image.url}}" class="img-fluid rounded" style="max-height:200px" alt="{{e}}">
                <div class="my-2 g-2 d-flex flex-row align-items-center justify-content-around">
                    {% if user_is_admin %}
                        {% if e.profile.comp_stat %}
                            <a class="d-block text-decoration-none text-danger fw-bold" type="button"
                                hx-get="{% url 'company:company_emp_remove' e.profile.slug %}"
                                data-bs-target="#modalConfirmation" data-bs-toggle="modal"
                                hx-target="#modalConfirmationContent"
                                hx-swap="innerHTML"><i class="fa fa-remove me-1" aria-hidden="true"></i>Remove</a>
                        {% else %}
                            <a class="d-block text-decoration-none text-info fw-bold" type="button"
                                hx-get="{% url 'company:company_emp_approve' e.profile.slug %}"
                                data-bs-target="#modalConfirmation" data-bs-toggle="modal"
                                hx-target="#modalConfirmationContent"
                                hx-swap="innerHTML"><i class="fa fa-check me-1" aria-hidden="true"></i>Approve</a>
                        {% endif %}
                    {% endif %}
                    {% if user_is_admin and e.profile.comp_stat %}
                        <a class="d-block text-decoration-none text-primary fw-bold" type="button"
                            data-bs-target="#modalConfirmation" data-bs-toggle="modal"
                            hx-get="{% url 'company:company_emp_groups' e.pk %}"
                            hx-target="#modalConfirmationContent"
                            hx-swap="innerHTML"><i class="fa fa-edit me-1" aria-hidden="true"></i>Edit Group</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}