<div class="nav flex-column bg-white border rounded">
    <div class="border px-3 py-2">
        <a class="sidebar-collapse-btn fw-bold text-decoration-none d-block d-flex justify-content-between 
            align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#sbSizeMenu">
            <span class="d-inline-block">Products</span><i class="d-inline-block fa fa-angle-right"></i>
        </a>
        <div id="sbSizeMenu" class="collapse show list-unstyled">
            <li><a href="#" class="nav-link py-0 px-3">All Products</a></li>
            <li><a href="#" class="nav-link py-0 px-3">Add New Product</a></li>
        </div>
    </div>
    <div class="border px-3 py-2">
        <a class="sidebar-collapse-btn fw-bold text-decoration-none d-block d-flex justify-content-between 
            align-items-center rotate-icon" type="button" data-bs-toggle="collapse" data-bs-target="#sbCategoryMenu">
            <span class="d-inline-block">Categories</span><i class="d-inline-block fa fa-angle-right"></i>
        </a>
        <div id="sbCategoryMenu" class="collapse show list-unstyled">
            <li><a href="#" class="nav-link py-0 px-3">Show All</a></li>
            <li><a href="#" class="nav-link py-0 px-3">Add Category</a></li>
        </div>
    </div>
</div>

