{% extends 'apps/_shared/acc.html' %}
{% load core_tags %}


{% block page_tittle %} New Company {% endblock page_tittle %}

{% block acc_content %}
    <form method="POST" class="row g-2" action="{{request.path}}">
        {% csrf_token %}
        <h1>Create My Company</h1>
        {% form_float form %}
        <div class="border-top mt-3 pt-3">
            <input class="btn btn-primary me-2" type="Submit" value="Add">
            <a type="button" onclick="history.back()" class="btn btn-info ms-2">Back</a>
        </div>
    </form>
{% endblock acc_content %}